[2018-06-09 02:32] antonydieu opened #1 "how to set tooltip position bottom?"
how to set tooltip position bottom?

[2018-06-09 09:18] AndrewDunice commented on #1
Just pass 'placement' props 'bottom'. By the way, you can find this in the documentation.

[2018-06-11 13:04] jasongaare commented on #1
Andrew is correct about the documentation.

If you are attempting to modify where there tooltip arrow points (a.k.a the coordinates of the arrow tip),  there is not currently a way to customize that. PRs are welcome

[2018-06-11 13:04] #1 closed

[2018-08-24 07:36] NextVictim opened #2 "The tooltip appears in the wrong position for the first time"
First of all, thank you for code this library.
I noticed that in first time it appears wrong location.

`this.childWrapper.measureInWindow((x, y, width, height) => {})`

I got the wrong value `y` for the first time. The next time it determines the exact value of `y`
I guess that `measureInWindow` has calculated the wrong position when it has not yet appeared.
**Do you have any solution?**

[DEMO](

[2018-09-07 08:41] PoppyAnc opened #3 "Can I have multiple tooltips displayed at the same time?"
First of all this is not an issue, just few questions.

This is a great component by the way! it works pretty well most of the time :).

Here I have two questions:
1. Is it possible to have multiple tooltips at once? For example, I have a button within a flatlist and I would like to point out all the buttons at once. Did not managed to show multiple, but I just needed a verification that this is n

[2018-09-19 18:46] esanguinetti commented on #2
Hello, I have the same issue on IOS, the library works great except  for this.
@NextVictim could you find a solution?

[2018-09-19 21:47] jasongaare commented on #2
Hello, sorry for the silence. I will look into this and see what I can find. Can either of you provide a sample repo to replicate the issue?

Also, the hack by @NextVictim looks promising... it does seem to be something related to something loading too soon on initial render.

[2018-09-19 21:51] jasongaare commented on #3
Hello, based on the current implementation (utilizing RN's `Modal` component) I do not believe that multiple tooltips could be achieved without a somewhat significant refactor.

However, as far as your second question -- I do suppose it might be possible to have an invisible, absolutely positioned view "hovering" over your Flatlist that you could wrap the tooltip around. Hacky for sure. Be sure to

[2018-09-19 22:30] esanguinetti commented on #2
Hello, I will try to provide a sample repo. I tried the hack by @NextVictim but did not solve the problem on
IOS. Thank you for looking into this.

[2018-09-20 05:37] PoppyAnc commented on #3
Thanks a lot for your reply. I might try it when I get some time!

[2018-09-20 05:37] #3 closed

[2018-10-10 14:05] atinder opened #4 "Rest of the UI blocked when tooltip is shown"
Possible to avoid this in the current version?

[2018-10-12 20:05] zachrnolan commented on #2
I'm also experiencing this issue on both iOS and Android.

It seems like the tooltip is rendering before fully knowing the x/y coordinates. I see a quick flash of the child and content component in a different area of the screen before it appears in the correct place.

It seems to only happen when I have multiple tooltips in a vertical scroll. I have another area in the app that uses tooltips in a

[2018-10-12 20:36] zachrnolan commented on #2
@jasongaare Ah, I see what's happening now.

Say I have the button inside a `<ScrollView>`.

1. The button is towards the bottom of the screen, let's say y = 600. The first time I tap on the button, it appears in the correct place. I close the tooltip.
2. I scroll down and now the button is towards the top of the screen, y = 80.
3. I tap on the button again, it renders the tooltip where the button

[2018-10-12 21:13] zachrnolan commented on #2
I added a minimal example repo demonstrating the bug here: https://github.com/zachrnolan/tooltip-minimal-example

[2018-10-15 19:51] zachrnolan commented on #2
I fixed this in PR https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/5.

[2018-10-19 09:42] lovecoding530 opened #6 "arrow doesn't render correctly."
Hello.
Thank you for your making the library.
But I have one issue.
When placement is bottom. the arrow is not rendering at correct position.
Please check the screenshot.
Thank you very much if you let me know about that.
Best regards.
![screenshot_1](https://user-images.githubusercontent.com/39135250/47210762-5f42d180-d3c6-11e8-884a-56b0fe572d43.png)

[2018-10-22 19:58] zachrnolan opened #7 "Couldn't find preset "flow" relative to directory"
When building on Android in release mode (`react-native run-android --variant=release`), I'm getting the following error:

Couldn't find preset "flow" relative to directory "/project-path/node_modules/react-native-walkthrough-tooltip"

It's fixed by removing `flow` from the `.babelrc` presets.

I'm not sure if removing the flow preset will adversely affect anything. If this seems like an appropria

[2018-10-22 20:05] jasongaare commented on #2
Closing based on #5

If this fix didn't solve the problem, please open a new issue.

[2018-10-22 20:05] #2 closed

[2018-10-22 20:07] jasongaare commented on #7
Curious.

`babel-preset-flow` is a devDependency, and `flow` should definitely be in the `babelrc` file for development. I haven't encountered this issue, but admittedly haven't built any production code with this lib for a few months.

It works for a debug build, however?

[2018-10-22 20:13] zachrnolan commented on #7
Yeah, it works for a debug build, but when building for production it throws that error.

I'm wondering if a better approach would be to add a build step so that you publish both the src and a transpiled version of the code that doesn't need flow.

Here's another library talking about it: https://github.com/react-native-community/react-native-side-menu/issues/298

[2018-10-24 13:30] superKaigon opened #8 "The tooltip don't follow the position absolute of its child"
Hi
I have a problem with the position absolute of the child of the tooltips.
Indeed, the tooltips display where the child should be if its position is not absolute.
The behavior i expected is to display the tooltips on the position absolute of the child, the same way it does without the property absolute.
I put an example of how I implement the tooltip on my project and which exposes my problem.
H

[2018-10-24 14:39] jasongaare commented on #8
Hello! It might be a couple days until I can look at this properly, but glancing at your code I did notice one issue, in your render you should _not_ split based on whether the tooltip is visible or not.

If you look at the [example usage here](https://github.com/jasongaare/react-native-walkthrough-tooltip#example-usage) you'll see that I only have one item that renders, and when the tooltip is NO

[2018-10-30 21:32] zachrnolan commented on #7
@jasongaare Just FYI - removing the `flow` preset in `.babelrc` works for Debug and Release modes. Let me know if you want a PR for it.

[2018-10-31 13:39] superKaigon commented on #8
Hi,
sry for the delay.
I do the split cause when it's not done the click on the button, after the tooltips are masked, don't have any onPress behavior. It's probably because of the position:'absolute'. Sry it's a try to resolve the issue i do on my project. I expected to just go on your way with an absolute position :)

[2018-11-06 00:17] DaneEveritt opened #9 "Optional props not marked as such in flow def"
Flow is reporting that optional props are actually required because of the def in the file.

<img width="748" alt="screen shot 2018-11-05 at 16 17 13" src="https://user-images.githubusercontent.com/418376/48034950-50725380-e116-11e8-9872-5ec64faabba2.png">

[2018-11-19 17:49] jasongaare commented on #4
Hello, due to inactivity, I will close this for now. If you are interested in reopening, please create a new issue.

[2018-11-19 17:49] #4 closed

[2018-11-19 18:57] jasongaare commented on #6
Hello, I just noticed this today too. I will look into it hopefully this week.

Is it just with the position of `bottom` you have noticed the issue?

[2018-11-23 18:54] davekedar commented on #1
where can i find the document? @jasongaare @AndrewDunice

[2018-11-29 12:57] superKaigon commented on #6
Hello, i have the same issue here at the position of bottom (with bottom or auto on props).

[2018-11-29 13:38] lovecoding530 commented on #6
Hello.
So I did hard code the arrowStyle like this.
arrowStyle={{top: -8}}
Hope this helpful for you.

[2018-11-30 23:04] jasongaare commented on #6
Hello! This should be fixed via https://github.com/jasongaare/react-native-walkthrough-tooltip/commit/f9a61cfde2b869a51c1bfa85b25c965bbb325282

[2018-11-30 23:04] #6 closed

[2018-11-30 23:05] jasongaare commented on #9
I'll have to get and look at that. Honestly I'm thinking of moving away from flow, it seems to be losing steam and for such a small lib it doesn't feel super necessary.

Plus then we don't have to worry about errors like this.

[2018-12-03 14:49] jasongaare commented on #1
https://github.com/jasongaare/react-native-walkthrough-tooltip#props

It is under "props -> placement"

[2018-12-13 10:09] vbvxx opened #12 "issue with long string"
Thanks for the good work. When setting the tooltip component's property content with a <Text> that contains a long string, the tooltip bubble and text goes off the screen on the left side. Any idea why this is happening? especially, I see that the origin of the tool tip is (-15.5, 130) for a view inside the tooltip that takes the entire screen width

[2018-12-13 14:14] jasongaare commented on #12
Hello, any chance you could share a small snippet to help me diagnose the issue? or at least a screenshot? It does sound very peculiar indeed

[2018-12-13 16:39] vbvxx commented on #12
It comes from the computation of the toolTip origin, in the case of computeBottomGeometry or computeTopGeometry in geom.js:
`const tooltipOrigin = new Point(
    Math.min(
      displayArea.x + displayArea.width - contentSize.width,
      Math.max(
        displayArea.x,
        childRect.x + (childRect.width - contentSize.width) / 2
      )
    ),
    childRect.y + childRect.height + arrowSize.he

[2018-12-29 23:27] hoboman313 opened #14 "Shadow and animation issues"
- animations are not consistent. The initial animation is A, while all the following are B.

- shadows were not implemented for Android. This should require a simple elevation style prop, unfortunately there is some trickiness going on with the arrowStyle elevation that I have not yet figured out.

[2019-01-04 11:18] export-mike commented on #12
@vbvxx adding

[code]

[2019-01-07 16:45] vbvxx opened #15 "issue with react navigation"
hi there,

I am trying to use this library conjointly with react-navigation. My use case is to highlight the several icons of a bottomTabNavigator. However, icons are disappearing. Any idea about what might happens? By which I mean that there is no element drawn on top of the overlay

[2019-01-07 17:10] #15 closed

[2019-01-08 16:10] mazenchami commented on #14
@hoboman313 the solution is to add a `childrenViewStyle` prop that adds style to the wrapper around the `View` (https://github.com/jasongaare/react-native-walkthrough-tooltip/blob/8101991ab5a8914e9588c8fbc2b1812a88c6f48a/src/tooltip.js#L549) and passing in `Platform.OS === 'ios' ? {} : {elevation: 2,}`

hope this helps!

[2019-01-11 14:38] yongzhi-chen commented on #7
having the same issue here. Have to fork it and edit .babelrc as suggested above as a workaround

[2019-01-11 14:54] jasongaare commented on #7
@zachrnolan @yongzhi-chen

I have a task set to remove flow from this repo, as it seems it is causing more harm than good. However, I just haven't had the time to do it.

I just published version `0.4.1` that removes `flow` from the `.babelrc` file. Let me know if that helps until I can get in and clean up more!

[2019-01-11 14:54] #7 closed

[2019-01-11 14:56] jasongaare commented on #12
@vbvxx it looks like setting `maxWidth` works in this particular case.

If you have more ideas on how to improve this for all users, could you submit a PR? I am going to close this for now.

[2019-01-11 14:56] #12 closed

[2019-02-26 17:54] jasongaare commented on #14
@hoboman313 I'll be closing this issue as @mazenchami has provided a solution. Please reopen if you issue persists.

[2019-02-26 17:54] #14 closed

[2019-02-26 18:03] jasongaare commented on #9
I've remove the dependency on flow typing in v0.4.2 - hopefully this will resolve your issue. Sorry it took so long!

[2019-02-26 18:03] #9 closed

[2019-03-20 09:29] wesdewitte opened #20 "Changing content size doesn't reposition tooltip"
When you change the content of the tooltip after it renders it doesn't reposition the tooltip.

So for example when you have to tooltip on the top side of an element with the arrow it renders oke. Then you add some text so the content gets bigger. The tooltip will be behind the highlighted element. It needs to reposition again

[2019-03-27 05:02] username199327 opened #22 "Possible conflict with RNN?"
On the app i'm building has a section that needs to use RNN's "dismissAllModals()" function, but after using that function the tooltip won't show for the second time because was forcefully closed by RNN's function
i tried hardcode firing the state to true every time user clicks/taps the component but the tooltip still wont show

[2019-04-01 14:07] jasongaare commented on #22
Hello, I'm not familiar with RNN -- would you have a sample repo I could look at to reproduce?

Tooltip does use RN's built-in Modal component (as I'm sure you know) so if that is what RNN is affecting, I'm not sure there's much that can be done?

[2019-04-02 02:57] username199327 commented on #22
No worries I managed to solved the issue, but not in a good way
On my case, apparently RNN has  function that dismisses all modal, so that's why the Tooltip's modal also got dismissed but when it didn't trigger "onClose" when dismissed by RNN, that is the issue I'm having back then

[2019-04-03 14:31] idoamram2gether commented on #8
Hi! Any news for this issue? I experience it too.
I have a FAB on the bottom right corner and the tooltip just stacked to the bottom-center of the scree.

[2019-04-05 20:33] DwCleb opened #23 "BorderRadius in Arrow"
Hi guys, I would like know if is possible I apply a **borderRadius** in Arrow point.

For exemple:

<img width="56" alt="Screen Shot 2019-04-05 at 17 33 05" src="https://user-images.githubusercontent.com/30187750/55654869-e810c680-57c8-11e9-93c3-6bf953d88f91.png">

Thanks for the lib, is fantastic, congratulations!

[2019-04-09 15:15] #20 closed

[2019-04-09 19:30] jasongaare commented on #8
Hello, I _think_ this is resolved in `version 0.5.2` -- would you be able to upgrade and reopen if it is not? Thanks!

[2019-04-09 19:30] #8 closed

[2019-04-09 19:31] jasongaare commented on #22
Closing for now, as you've solved your issue. Let me know if there's any tips you have for folks using RNN.

[2019-04-09 19:31] #22 closed

[2019-04-10 17:14] jasongaare commented on #23
actually there is this prop available: `arrowStyle` you may be able to tweak that to get the look you are desiring.

[2019-04-15 06:32] hoangvv511 opened #25 "Tooltip is delayed too long"
Hey guy, when I used tooltip, it had a long delay, about 2s from the start of the press, is there any way to fix this situation?

[2019-04-15 17:12] jasongaare commented on #25
Can you be more descriptive/provide a code example?

Mainly where did you see the delay, when it was showing or hiding? What were you pressing?

[2019-04-16 03:34] hoangvv511 commented on #25
constructor(props) {
        super(props)

        this.state = {
            tooltipVisible: false,
            enable: false,
            opacity: 0
        }
    }

    setTooltipVisible = (visible) => {
        this.setState({
            tooltipVisible: visible
        })
    }

    onWarningPress = () => {
        this.setState({
            tooltipVisible: !this.state.tooltipVisible

[2019-04-21 20:37] ebrahimhassan121 commented on #25
i think you should use it in separated component
as in react architecture when you use set state your class re render Views
**i was getting the same delay but know it's fast**

[2019-04-26 23:52] milesmeow opened #26 "Tooltips does not render a copy of the element correctly on Android"
I've experienced this many times where the tooltip is rendering correctly on iOS but not on Android. The position that it calculates for the copy of the widget that the Tooltip wraps is not positioned correctly.

The times that I've seen it, it has always been with the vertical position.  It is always higher up than the actual widget.

Here's an example:
iOS...
![Screen Shot 2019-04-26 at 4 31 51

[2019-05-01 15:13] jasongaare commented on #26
Hello! Thank for using the lib.

Do you happen to have any code examples or a repo that reproduces this issue? I'd love to look at it and hopefully get something sorted out.

[2019-05-19 08:55] atominvention commented on #25
having 1 -2 seconds delay too, which is pretty bad experience

[2019-05-30 17:23] Estebank94 commented on #22
How did you manage to fix it? I am having the same issue with RNN

[2019-05-31 01:13] username199327 commented on #22
@Estebank94 on my fix, like i said not in a good way
is to re-render the the js file that is still loading

[2019-06-11 08:50] joel-bitar commented on #26
@jasongaare I'm also having problem on android. But my issues seems to be occurring always. We have set the StatusBar to be hidden in our root container like so:
`<StatusBar hidden />`

But hiding the statusBar results in the tooltips being rendered "higher up" than the wrapped component. The render-position seems to be offseted by the status-bar height.

I found this issue talking about measureIn

[2019-06-12 14:04] jasongaare commented on #26
@joel-bitar I've seen the same thing you have, and encountered the same issue on the RN repo.

I am not against moving toward always having the `<StatusBar hidden>` in the tooltip lib and using `measure`. I think in my experience it didn't work on iOS however.

Probably the best long-term solution would be to add a prop to the lib like `statusBarHidden={false}` where the user can choose how they w

[2019-06-12 14:54] joel-bitar commented on #26
@jasongaare Yeah that should work. I have mainly tested my work-around on android so that would explain why I haven't found that issue. So what you're suggesting with a flag should do it.

[2019-07-19 05:26] stacywang0601 opened #28 "Is there a callback function when user click the tooltip content?"
Hi

I know we have callback when user click the wrapped child component or background overlay. When we click the tooltip content, it also got dismissed. Do we have a callback when user click the tooltip content?

[2019-07-23 03:26] minhnhattonthat commented on #8
Hi, I am using `version 0.5.3` but the issue still happens.

[2019-07-24 17:05] jasongaare commented on #28
Not at the moment- but PRs are welcome or else I can consider adding when I have time!

Shouldn't be too difficult to implement

[2019-07-28 02:40] #23 closed

[2019-07-28 02:41] #25 closed

[2019-07-31 15:10] jasongaare commented on #28
Also I was thinking could you make the tooltip content a `Touchable` of some sort and capture when the user taps it that way?

[2019-07-31 18:40] dolsem opened #40 "Distinguishing children rendered in tooltip from those in parent's layout"
Currently there seems to be no way to tell the difference whether a child is rendered in a tooltip or not. This would be immensely useful, for example, to handle refs correctly. Perhaps wrapping children in a React Context provider would do the job.

[2019-07-31 19:58] jasongaare commented on #40
Thanks for your comments here. I _think_ I understand what you mean... but do you have a more concrete example? Just so I would know my solution resolves your issue.

I have some ideas on this but want more info on your use case first!

[2019-07-31 20:43] dolsem commented on #40
@jasongaare my personal use case is involved and long to reproduce, but for the sake of something simpler suppose I have an app with user feed and I need to assign a ref to every post (to automatically play/pause videos, for example), like this:
[code]
If I use this code without modification the library will render a copy of my components and refs will overwritten. When the tooltip is gone the cop

[2019-08-02 23:55] #40 closed

[2019-08-12 11:09] SnehalAgrawal opened #43 "Warning: componentWillReceiveProps is deprecated and will be removed in the next major version. Use static getDerivedStateFromProps instead"
Hello Admin. Can you please update the library for the Warning: componentWillReceiveProps is deprecated and will be removed in the next major version. Use static getDerivedStateFromProps instead.

[2019-08-12 14:17] jasongaare commented on #43
Thanks for the heads up. I have added it to the punch list for v1.0 👍🏼

https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/39

[2019-08-12 14:17] #43 closed

[2019-08-22 21:16] jasongaare commented on #26
@milesmeow @joel-bitar this is somewhat a long time coming, but I've updated the library to use the `measure` function instead of `measureInWindow`. Not sure what I was experiencing in June with iOS that was giving me pause... if it creeps up again I'll need to patch it.

For now, v.1.0.0 should work! Please open another issue if the problem persists.

[2019-08-22 21:16] #26 closed

[2019-08-27 22:40] thorbenprimke opened #44 "Full-Featured Walkthrough Library"
hi @jasongaare - I came across your library and Medium article. Thanks for sharing! I was wondering if you still have plans to publish the `full-featured walkthrough library` that you mentioned in your Medium article.

Just wanted to ask before I start building a multi-step tooltip solution. Cheers!

[2019-09-05 14:38] jerome19980904 opened #47 "First press on tooltip displaying nothing"
Hi @jasongaare ,
First of all, thanks a lot for your library.

I've installed your library in my app and I discovered some bugs. In my case, even in the simplest Hello World view, whenever I press the tooltip button for the first time, nothing is displayed, not even the darkened screen. However, I can still interact with the invisible child content (When I press my screen, nothing happens even tho

[2019-09-05 18:02] jasongaare commented on #47
Shoot. Any chance you could send me a code sample? I'm having a little trouble understanding exactly what you are describing.

Also what version of the library are you currently using?

Hopefully we can get to the bottom of this!

[2019-09-06 01:44] jerome19980904 commented on #47
Thank you for your quick response.
I am currently on the version 1.0.2 of your library.

[code]

Here is the code I used for my tests.

[2019-09-09 14:59] jerome19980904 commented on #47
Hi @jasongaare
Did you managed to find a solution ?

[2019-09-11 05:05] jasongaare commented on #44
@thorbenprimke here's a very early version 🎉 https://github.com/jasongaare/react-native-walkthrough

Any and all feedback is much desired. The goal is to make it as non-intrusive as possible. I threw together the README so hopefully it makes sense. Let me know if you have any questions about how to use it

[2019-09-12 02:32] LiDevil commented on #47
same here,in android,i have to click the button for three time if i want to see the content
[code]
if the visiable first state is true,it work fine...

[2019-09-14 12:20] rohit-ganapathy commented on #15
what was the issue?

[2019-09-16 07:59] vbvxx commented on #15
I can't remember but if I closed it I think we can safely ignore it :)

[2019-09-16 14:58] pouya92 commented on #47
Same here,
on android in my componentDidMount I try to run the tooltip but sometimes it appears and sometimes wont, although still I cant interact with childs, it seems it appear but is invisible.

[2019-09-17 06:25] pouya92 commented on #47
Hi, I solved this problem by downgrading library to version 0.6

[2019-09-17 06:31] LiDevil commented on #47
thanks for your suggestion,i change the library to react-native-popover-tooltip, it work better than this

[2019-09-17 15:33] jasongaare commented on #47
Thanks for all the discussion here a couple things to help me nail down the solution from what I see:
- the issue is NOT present in version 0.6
- this happens on Android only?

Has anyone attempted to find a solution? I'm a bit swamped right now but hopefully if I can get some time later this week I can work on it

[2019-09-17 16:20] #44 closed

[2019-09-17 17:04] jasongaare commented on #47
Ends up I was able to get an easy reproduction with my work I'm swamped with 😅

So should be fixed in `v1.0.3` 💪🏻

[2019-09-17 17:04] #28 closed

[2019-09-19 03:19] LiDevil commented on #47
yes,it happen on Android only,work fine in ios,i had tried to change your source code,but all not work...thanks for your reply

[2019-09-20 19:05] jasongaare commented on #47
@LiDevil does version `1.0.3` fix the issue?

[2019-09-23 17:55] robertqin86 commented on #47
No it doesn't on 1.0.4 on Android, but it works fine on iOS. It worked perfectly on 0.6.1, which looks to be much more stable that the latest release.

[2019-09-23 22:43] jasongaare commented on #47
@robertqin86 do you have a reproduction of the bug on Android? I’d love to get this fixed.

It is likely there is some regression in the latest versions, as it was fairly significantly rewritten. Unfortunately it’s just me working on it so any and all feedback is super helpful.

Again I’d love to get this fixed if you have a way to reproduce 👍🏻

[2019-09-24 10:37] LiDevil commented on #47
i‘m sry to reply too late, the problem in 1.0.4 version still existing,i will try to change your source code

[2019-09-25 02:58] LiDevil commented on #47
@jerome19980904 @jasongaare @pouya92  hello everyone, i think i solve the problem,go to the source code file, tooltip.js , and then find the func name 'measureContent',and copy my code to replace the content
[code]
just simply add this._updateGeometry();  in callback of setState, but there still some questions,this.state.readyToComputeGeom is undifine all the time

[2019-09-25 08:00] LiDevil commented on #47
example:
![image](https://user-images.githubusercontent.com/22414268/65580899-19669400-dfad-11e9-8d7b-6077d117531e.png)
[code]
example2:

![image](https://user-images.githubusercontent.com/22414268/65581177-9eea4400-dfad-11e9-9c9b-480233e043db.png)

[code]

[2019-09-25 14:34] jasongaare commented on #47
Awesome thanks for the help! I think that makes perfect sense.

The `readyToComputeGeom` and `waitingToComputeGeom` might be leftovers from a previous implementation. I will look at this today ideally and get a fix published!

[2019-09-27 18:49] jasongaare commented on #47
@LiDevil the suggestions you made were helpful! I cleaned up the usage and actually removed `readyToComputeGeom` and `waitingToComputeGeom`

Hopefully this will all be resolved now 🤞🏼

[2019-09-27 18:49] jasongaare commented on #47
Fixed in `v1.1.0`

[2019-09-27 18:49] #47 closed

[2019-09-28 17:15] helloeyesimple opened #51 "Tooltip position rendering footer element incorrectly"
Environment: Android

I'm having the problem on tooltip on footer, the arrow showing correctly, but the content isn't positioning correctly.
So far I always using contentStyle to fix hack this issue. But this would be an issue when viewing using other devices.

FYI, my footer is using other Component.

Here's the screenshot of the app
![befd6df6-070d-4edf-bd37-7378be82a279](https://user-images.git

[2019-09-30 14:44] jasongaare commented on #51
Hello! Thanks for using the library - and for testing out the walkthrough library too!

I have a few follow up questions:

Do you have the code for your "hack" to fix the issue? What does it look like or what helps fix the problem?

What other (if any) props do you have for your walkthrough element?

[2019-09-30 15:29] Nick-t-go opened #52 "Tooltip position All Off"
Using mostly the same code you have in the example and my tooltip is being positioned incorrectly.
[code]

![tooltipError](https://user-images.githubusercontent.com/9603047/65893143-7a0f1b80-e375-11e9-8d86-49efbd710c25.gif)

[2019-09-30 16:38] jasongaare commented on #52
Does it display correctly if you remove this prop:
[code]

[2019-09-30 18:02] Nick-t-go commented on #52
useReactNativeModal={false}

It does. However, I am trying to avoid having that tint on the background overlay. When I try to set the backgroundStyle on Tooltip is has no impact.

[code]

[2019-09-30 18:09] Nick-t-go commented on #52
Oh I see

backgroundColor | string | 'rgba(0,0,0,0.5)' | Color of the fullscreen background beneath the tooltip. Overrides the backgroundStyle prop
-- | -- | -- | --

[2019-09-30 18:13] jasongaare commented on #52
Interesting. Yeah couple things:

1. The `useReactNativeModal` guy is generally frowned upon... it's tricky because it basically creates an absolute fill object view - but that may not actually fill the screen depending on where you put it. I added that prop primarily to allow the display of tooltips _inside_ a RN Modal (since you can't have two modals at the same time)

2. Hopefully the `backgrou

[2019-10-02 17:50] Nick-t-go commented on #52
Hey things are going well thanks for the info so far. Ran into a similar placement issue so thought I'd continue to post here b/c this is about placement. It appears that when the child is on the right hand side of the screen and the placement is set to either top or bottom that the contentBox gets pushed to the left for some reason. Any idea how to mitigate? See below:
![toTheLeft](https://user-i

[2019-10-04 02:04] jasongaare commented on #52
I am actually experiencing the same issue! I will be hunting this down tomorrow. Sorry about that!

[2019-10-04 20:16] jasongaare opened #53 "Issue with placement when content extends past right or bottom bounds"
Hey things are going well thanks for the info so far. Ran into a similar placement issue so thought I'd continue to post here b/c this is about placement. It appears that when the child is on the right hand side of the screen and the placement is set to either top or bottom that the contentBox gets pushed to the left for some reason. Any idea how to mitigate? See below:
![toTheLeft](https://user-i

[2019-10-04 20:16] jasongaare commented on #52
Closing this issue.

Moved your last comment to a new issue!

[2019-10-04 20:16] #52 closed

[2019-10-04 20:19] jasongaare commented on #53
Fixed via #54

[2019-10-04 20:19] #53 closed

[2019-10-04 20:24] jasongaare commented on #51
Good news! I didn't realize it the time of merging/publishing, but this looks like the issue I sought to resolve via https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/54

The fix can be used by installing `react-native-walkthrough-tooltip@1.1.1`

[2019-10-04 20:24] #51 closed

[2019-10-10 21:59] akontaroudis opened #57 "Malformed calls from JS: field sizes are different"
First of all thank you for this excellent package.

My use case is that I want to display a tooltip immediately after the splash screen of the app. The usage is not anything particularly special:

[code]

The tooltip briefly appears at the top of the screen and immediately after the following error is thrown:

<img width="444" alt="Screenshot 2019-10-11 at 00 42 39" src="https://user-images.github

[2019-10-11 17:21] jasongaare commented on #57
Hello - thanks for reporting this issue. I appreciate you taking stab at it as well.

After some digging I do believe I understand what's going on. As you noted, adding the check for a valid `childRect` helps alleviate the crash.

I think in regards to that, it makes sense to do a similar check to yours, but probably without the else statement. Something similar to this

[code]

The red screen you

[2019-10-11 20:27] akontaroudis commented on #57
Hey @jasongaare, thanks for coming to me.

Actually I've tried something similar to what you have suggested already. If I don't call the `doChildlessPlacement` then the tooltip stays at the top of the screen and doesn't get repositioned at the correct place ... and also the arrow does not get rendered.

![Screenshot 2019-10-11 at 23 23 38](https://user-images.githubusercontent.com/27508555/6668270

[2019-10-23 21:57] jasongaare commented on #57
Hello! I tinkered with this today, and I'm fairly certain this should be resolved by https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/60

Any chance you can check out `version 1.1.4` and let me know if it does or not?

(One note about the solutions we were previously chatting about, there is an issue with that patch since `pageX` or `pageY` (or even `width` or `height`) could ha

[2019-10-26 09:05] akontaroudis commented on #57
Hey @jasongaare, unfortunately I still see the same error on Android with 1.1.4. At the same piece of code the dimensions still appear to be undefined throwing the `Malformed calls from JS: field sizes are different` error. tbh I haven't had time to go through your changes to see if the change is fixing the above or handle it more gracefully.

<img width="1037" alt="Screenshot 2019-10-26 at 12 00

[2019-10-26 09:42] akontaroudis commented on #57
tbh I realise that this is quite hard to debug and there must be something special about the way I use this package. When I find time I'll try to create an example app where this is reproducible.

[2019-10-28 00:50] mdbadawi opened #61 "Arrow is always pointing to bottom"
I'm positioning the tooltip under the element so I need to make the arrow point to top , I tried to style the arrow with negative top value but still inverted

[2019-10-28 08:15] lmuntaner commented on #26
Hi! @jasongaare we don't have `<StatusBar hidden>` in our application.

We are using [Gifted Chat](https://github.com/FaridSafi/react-native-gifted-chat) and it requires to not be hidden.

Is there a way to fix the misalignment?

Thanks for the library!

[2019-10-28 14:37] jasongaare commented on #26
@lmuntaner is it similar to what is shown here in this PR? https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/58

I'm starting to thinking utilizing the `measure` or `measureInWindow` functions are not 100% reliable unfortunately so there may be need for the option to correct the positioning after all is rendered

[2019-10-28 15:13] lmuntaner commented on #26
Yes, I tried changing to `measureInWindow` with x, y and it was working.

Whereas `measure` with pageX, pageY isn't working.

The idea in #58 regarding `forceOffset` seems good idea.

[2019-10-28 15:58] jasongaare commented on #26
@lmuntaner thanks for you quick feedback.

Which platform(s) did `measureInWindow` work when `measure` did not? There seems to be some disparity and I'm trying to lock down the difference to see if there's a reliable method to based on platform without `forceOffset` but I'm not opposed to just adding the prop if it seems the lowest hanging fruit

[2019-10-28 16:04] lmuntaner commented on #26
It wasn't working on our Android devices running version 8.

It was working on our iPhones

[2019-10-28 19:44] guilleSequeiraWolox opened #62 "The tooltip appears in the wrong position for the first time"
Hi, sorry my english is bad.

I have the same problem of: https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/2

I try to change version of library, before i had `0.4.0` and now I want change to `1.1.4`

I can't you provide the code. are you sure that the problem was solve?

[2019-10-28 19:56] jasongaare commented on #62
have you tried the `useInteractionManager` prop? it is happening during a transition?

[2019-10-28 20:08] guilleSequeiraWolox commented on #62
i tried to put this prop, but didn't work. my code is:

[code]

that Component is wrapped by ScrollView. It is the only code I can provide you, sorry.

[2019-10-28 20:23] guilleSequeiraWolox commented on #62
it's happening when i have a tooltip and a scroll in the view. I have a list of CustomCheckbox.
When I press and hold on an item work well, then if I scroll and press and hold on another item the tooltip appears in a wrong position, then if I press (and hold) on another item it works well. I think the problem is when I do the scrolling

[2019-10-31 15:06] jasongaare commented on #57
@akontaroudis I added this code in #63 to check for `undefined` values. Not positive that's actual a solution for your issue... but I think it makes sense as a safe check at least.

Let me know if it still exists if you upgrade to `v1.1.5`

[2019-11-02 13:29] akontaroudis commented on #57
yup that definitely seems to solve the issue.

Thanks a lot @jasongaare

[2019-11-02 13:29] #57 closed

[2019-11-06 15:22] mdbadawi commented on #61
thanks sir . placement props solved it

[2019-11-06 15:22] #61 closed

[2019-12-02 13:41] ViParshin opened #65 "Missing 'childContentSpacing' prop type for TooltipProps interface"
I see ts warning when I use 'childContentSpacing' prop for Tooltip component

[2019-12-02 13:45] VitalikParshin commented on #65
Pull request: https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/66

[2019-12-03 21:13] Hirbod opened #67 "Auto position / animation"
Hi,

is there any chance that you could reimplement auto position and animation? Specially the animation is important but using ScrollViews, a auto positioning would be also pretty useful to determine the direction..

[2019-12-03 21:20] Hirbod commented on #67
For the animation:
https://github.com/oblador/react-native-animatable

Since animatable pure JS and also available on Expo, it should be great for this purpose. Maybe it could used as a dependency and we could pass a delay,animation and duration prop.

Animatable also supports custom transitions, but they are out of scope and we should only use those, which are supported by useNativeDriver (most o

[2019-12-04 20:18] #65 closed

[2019-12-16 14:30] Hirbod opened #68 "Android: wrong position"
The copied element inside the tooltip is misplaced by the height of the android statusbar.

[2019-12-16 14:33] Hirbod commented on #68
![IMG_8232](https://user-images.githubusercontent.com/504909/70915002-5de85580-2019-11ea-8fb0-0f6f33cb80d8.jpg)

[2019-12-16 15:23] jasongaare commented on #68
Hello thanks for the info! You can follow along with a similar issue/PR here: https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/58

I'd love help finalizing an amble solution that works on all platforms!

[2020-01-06 20:36] jasongaare commented on #68
Should be fixed via https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/69

Released in version 1.1.7

[2020-01-06 20:36] #68 closed

[2020-01-09 20:49] cloudy-ninja commented on #14
@jasongaare I need to remove the shadow. Can you help me with this?

[2020-01-22 18:46] Windovvsill opened #71 "Not compatible with software keyboard"
react-native-walkthrough-tooltip: version 1.1.7
iPhone X

Rendering the tooltip on a screen with an input that autofocuses doesn't work because the keyboard will cover the tooltip. However I read that the tooltip is drawn _in place_, so this seems like expected behavior.

But I would expect to be able to wait for the keyboard to finish its transition, then render a tooltip over one of the componen

[2020-01-23 09:37] armilano opened #72 "Can compatible with tab navigator?"

[2020-01-23 10:59] #72 closed

[2020-01-23 22:08] dsernst opened #73 "Tooltip content positioned wrong, although arrow correct"
**Here's a screenshot of what's happening out of the box:**

<img src="https://user-images.githubusercontent.com/6340841/73026934-499d3280-3de7-11ea-895d-4a4e7f8fde0d.png" width="375px" />

You can see the arrow is positioned correctly, but the "Hello world" content should be on the right of the screen, not in the center.

**Here's the relevant code for that entire bottom row:**

[code]

**Version

[2020-01-23 22:10] dsernst commented on #73
To confirm, this is also happening on the latest iOS 13 device as well:

<img src="https://user-images.githubusercontent.com/6340841/73028259-04c6cb00-3dea-11ea-9ea9-ce89ec8f91dd.png" width="475px" />

[2020-01-23 22:56] dsernst commented on #73
Here's what I was expecting:

<img src="https://user-images.githubusercontent.com/6340841/73031265-7e61b780-3df0-11ea-8352-a2623a69e511.png" width="375px">

[2020-01-23 23:37] dsernst commented on #73
Ok, after messing with this a bunch I was able to get a manual fix for this particular case like so:

Get screenwidth:

[code]

Hardcode in a new left alignment for `contentStyle`:

[code]

This worked in my particular case across different screen dimensions & orientations (because my target content was right-aligned).

-----

I'll mark this as closed.

Feel free to re-open if maintainers want to

[2020-01-23 23:37] #73 closed

[2020-02-04 00:07] armanm opened #74 "Tooltip remains on screen after refreshing the app during development on Android"
react-native-walkthrough-tooltip: version 1.1.7
Android 10
React Native: 0.59.10

I use the Android emulator in development. When developing the app one often need to use the React Native's context menu to start the debugger or reload the app to get the latest changes.

**Expected behaviour**
The expected behaviour is for the tooltip to disappear if it's visible at the time of reloading the app

*

[2020-02-04 15:19] jasongaare commented on #74
Hi, I believe this is due to the tooltip utilizing the `Modal` component provided by React Native. I believe any `Modal` does the same then when you reload.

You could try to disable that by using `useReactNativeModal={false}` but that may cause styling issues in come cases.

[2020-03-25 07:51] all9planets opened #75 "tooltip shadow does not work on android if opacity is set to 0."
As you can see the tool tip just appears as a text over other components.

![WhatsApp Image 2020-03-25 at 11 22 44 AM](https://user-images.githubusercontent.com/18159490/77513785-a8406480-6e9b-11ea-95ad-4b0a3b175e83.jpeg)

[2020-03-25 14:36] jasongaare commented on #75
Hi thanks for this issue - can you provide your code as well? Just so I can see exactly where you are applying that opacity?

[2020-03-25 14:39] jasongaare commented on #74
Closing because I do not believe this involve this repo, as mentioned in the comment above.
If you believe otherwise, please re-open or create a new issue

[2020-03-25 14:39] #74 closed

[2020-03-26 05:26] all9planets commented on #75
I am changing the opacity in backgroundColor prop to 0 from default 0.5.

below is the code:-

 <Tooltip
        isVisible={toolTipVisible}
        content={content}
        placement={placement}
        onClose={() => this.setToolTipVisible(false)}
        backgroundColor='rgba(0,0,0,0)'
        showChildInTooltip={false}
        tooltipStyle={styles.contentStyle}
        ref={ref => {

[2020-03-27 09:43] RookiEzz opened #76 "how to set placement as 'top && right'"
rt,thanks

[2020-03-27 14:29] jasongaare commented on #76
currently there's not a way to specify two directions... can you send some more info (screenshots) of what is not working how you'd like?

[2020-03-30 01:47] RookiEzz commented on #76
i have a menu button in top-right，and i want to click it to open the tooltip under the menu. and another question, there is no triangle in my project...

[2020-03-30 01:48] RookiEzz commented on #76
"react-native-walkthrough-tooltip": "^1.1.7",
"react": "16.9.0",
"react-native": "0.61.5",

[2020-03-30 14:24] jasongaare commented on #76
the position is where the tooltip is relative to the element, so if you want the tooltip _under_ the menu, you should try `position="bottom"`.

If that doesn't work, please send me some code samples/screenshots!

[2020-04-06 10:51] jenipharachel commented on #47
@jasongaare I'm using the version 1.1.7 of the tooltip library. Unfortunately, I'm still facing this issue. It works well for ios but it doesnt work for android. When I'm clicking multiple times, it worked once out of maybe 15 times

[2020-04-06 21:45] jasongaare commented on #47
@jenipharachel would you be able to provide a code sample? or some more info?

This means you attempt to tap the tooltip? or the button that pulls up the tooltip?

[2020-04-07 05:37] jenipharachel commented on #47
[code]
I think there is a visibility issue, when I click on the tooltip once and toggle inspect my screen, I could see the layout of the tooltip and when I toggle inspect before clicking on tooltip, the layout is seen.

@jasongaare Any ideas why I might be facing this issue? Only in android btw

[2020-04-07 07:10] LiDevil commented on #47
emm，i subscribe this issuse，but my code work well in `1.1.7` , i'm sry, i can't understand the meaning of "toggle inspect", can you tell me the words mean? this is my sample code , work well
[code]
@jenipharachel

[2020-04-07 07:43] LiDevil commented on #47
i know your meaning now，maybe the reson is that dialog`(can be hide when you touch screen)` is top of the screen same as toggle inspector window，and who open the dialog late，who are topest ，so when your click on the tooltip late, you cannot see the layout , maybe this is hard to resolve...

[2020-04-07 07:44] LiDevil commented on #47
i know your meaning now，maybe the reson is that dialog(can be hide when you touch screen) is top of the screen same as toggle inspector window，and who open the dialog late，who are topest ，so when your click on the tooltip late, you cannot see the layout , maybe this is hard to resolve...

[2020-04-07 09:05] jenipharachel commented on #47
@LiDevil Toggle Inspector is one of the options you find along with Debug JS remotely in your testing device.

I modified my code to manage state using setstate instead of react hooks. Unfortunately, I still face this issue

[2020-04-07 09:10] jenipharachel commented on #47
@LiDevil The issue is I can't view the tooltip in android, as I was debugging the issue and used toggle inspector to check if the tooltip is being enabled or not. I found it is being enabled but it is invisible on my screen. I am not sure what is hindering it from being displayed clearly in Android

[2020-04-07 09:12] LiDevil commented on #47
@jenipharachel what's the android os version，it work well in android 9.0 and android 5.0

[2020-04-07 09:18] jenipharachel commented on #47
@LiDevil Android version 7.1.2. Okay, I'll give it a try

[2020-04-07 09:34] jenipharachel commented on #47
@LiDevil Yes, your code works. I think I figured out what the problem was, I am using the tooltip for a modal screen and since the tooltip itself is a modal, it is being hidden under the screen's modal :sweat:

[2020-04-07 09:36] LiDevil commented on #47
Okay , and there is no `7.1.2` os version, only `7.0` and `7.1.1` , you may see the wrong place

[2020-04-07 09:41] jenipharachel commented on #47
![Screenshot_2020-04-07-15-08-35-015_com android settings](https://user-images.githubusercontent.com/35962711/78654404-15171e00-78e2-11ea-91f8-41a967c06cec.png)

[2020-04-07 09:44] LiDevil commented on #47
thanks for help, it's my mistake , i had never see it in my android studio tool until i google...

[2020-04-09 01:46] jasongaare commented on #47
Hello! You may try setting `useReactNativeModal={false}` on your tooltip if you are using it inside another Modal.

This prop will use an absolutely positioned View, rather than the RN Modal component.

[2020-04-09 02:03] jasongaare commented on #76
Closing this for now, let me know if that doesn’t work!

[2020-04-09 02:04] #76 closed

[2020-04-10 10:53] wasitajeew opened #77 "How can I use tooltip with FlatList"
I have the render item in flatlist that contain tooltip. For iOS, I would like to fix the position of tooltip at the index 0. For Android, it's duplicate tooltip such as I have 3 items and then I click item 1, it will show all tooltip for all items.

[2020-04-10 14:22] jasongaare commented on #77
Hi!

Would you be able to provide a small code sample to show what’s going on? I think if we use an index or key somewhere this might be a simple issue to resolve!

[2020-04-12 04:47] wasitajeew commented on #77
Example code:

<FlatList
data={data}
renderItem={(item) => (
<View>
<Tooltip>
<TouchableOpacity>
<Text>Hello</Text>
</TouchableOpacity>
</Tooltip>
</View>
)}/>

something like this

[2020-04-13 14:37] jasongaare commented on #77
Hi, I think if you'll have to determine which one you put the tooltip on more deterministically than just all of them, like this maybe?

[code]

that way the tooltip is only around the item at index 0 (or which ever logic you need!)

[2020-04-27 14:27] gunn-fd opened #78 "Need to offset the tooltip depending on size of tooltip"
Not sure if I missed something in the setup. But when I try to use the tooltip in placement="bottom" while the arrow displays in the correct place, the content component does not it ends up being centered. So I got around it by using displayInsets to move it back to the right place under the arrow, though if the text changes length then it would not be correct anymore.

Using left placement worked

[2020-04-27 15:27] jasongaare commented on #78
@gunn-fd do you know which version you are using? I remember seeing this issue but I don't remember if I'd released a fix or not...

[2020-04-27 15:29] gunn-fd commented on #78
Yes sorry should have mentioned that in original post, I'm using version `1.1.7`

[2020-05-04 14:41] vujevits opened #79 "useInteractionManager does not work with react-navigation"
Using react-navigation v4, providing `useInteractionManager={true}` option, the arrow and the cloned child gets displayed on the right side of the screen. The content is in the correct position.

<img width="403" alt="Screenshot 2020-05-04 at 16 39 33" src="https://user-images.githubusercontent.com/2270661/80978094-e5e2c680-8e25-11ea-85d1-4f798a6080b6.png">

I worked around by
[code]

[2020-05-05 12:21] gunn-fd commented on #79
I had this issue even without setting userInteractionManager, you can see in the previous issue

[2020-05-05 12:33] vujevits commented on #79
I think that's expected, because the measuring cannot happen (I guess) before the animation for the navigation ends. Not sure if it's possible with `InteractionManager` to wait for react-navigation's animation, but if it's not, it should be stated in the documentation with possible workarounds. I'm doing something like
[code]

[2020-05-05 16:36] sommercodes commented on #78
I'm also seeing this issue on version 1.1.7

[2020-05-06 05:17] jasongaare commented on #79
@vujevits would something like this help?

https://reactnavigation.org/docs/use-focus-effect

if so, I'd love to update the docs! or feel free to open a PR as well

[2020-05-06 05:21] jasongaare commented on #79
sorry, just noticed you mentioned `react-navigation v4`... perhaps then...

[code]

[2020-05-06 05:32] jasongaare commented on #67
Hi, I would certainly be interested in reimplementing the animation, but currently do not have time. Any PRs are welcome!

[2020-05-06 05:32] #67 closed

[2020-05-06 05:33] jasongaare commented on #77
@wasitajeew were you able to resolve your issue?

[2020-05-06 05:35] jasongaare commented on #71
can you use a listener for `keyboardDidShow` then set the tooltip to visible once you've received that event? see RN docs on Keyboard listeners here: https://reactnative.dev/docs/keyboard

[2020-05-06 05:36] jasongaare commented on #62
@guilleSequeiraWolox are you still experiencing this issue?

[2020-05-26 16:20] 1fabiopereira opened #81 "View has a shadow set but cannot calculate shadow efficiently"
Every time that I open tooltip on IOS I see this message:

![image](https://user-images.githubusercontent.com/11349795/82924472-c3d6f280-9f52-11ea-804f-eafb747983e6.png)

This message are shown when RTCView hasn't solid color, I found how to fix that, but for do that I lost the shadow on tooltip box.

What about think add a property on tooltip component that allow disable or enable the shadow?

[2020-05-27 10:54] danielfx90 opened #82 "Tooltip defaults to center of screen if surpasses displayInset on the right side"
### Situation
Whenever the tooltip reaches the right limit of the displayInset container, it defaults to be positioned at the center of the screen, breaking the component.

### Expected
Expand to the left of the screen as it does to the right side when the left limit is reached.

### Found
It is rendered at the center of the screen.

### Package Version
1.1.7

### Code
[code]

### Screenshots
####

[2020-05-27 13:44] jasongaare commented on #82
Hello! This might be related to: https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/78

I would love to find a resolution for this - unfortunately I haven’t had much time lately to work on this project

[2020-05-27 21:52] devinroche opened #83 "Tooltips being cut off"
Hi!

**I am using version 1.1.7**

I'm trying to setup tooltips and they are being cut off. I've added an image below of what it looks like normally vs when the tooltip is near the bottom of the screen.
<img width="378" alt="image" src="https://user-images.githubusercontent.com/10554443/83075720-2995ae00-a029-11ea-8425-7162320165bd.png">

<img width="251" alt="t83075592-fe12c380-a028-11ea-9812-a02

[2020-05-29 19:23] #83 closed

[2020-06-10 04:54] jasongaare commented on #71
Closing for now, if the keyboard listeners don't work, please reopen!

[2020-06-10 04:54] #71 closed

[2020-06-10 04:54] #77 closed

[2020-06-10 04:55] jasongaare commented on #81
Hello, I have seen this too. I would certainly be open to a PR that would enable or disable the shadow!

[2020-06-10 11:08] 1fabiopereira commented on #81
I'll send a PR soon

[2020-06-12 23:32] danielfx90 commented on #78
@jasongaare thanks for the heads-up. I didn't see this issue before I reported the other one. Sorry.

Just to keep the conversation in the same place, this issue happens whenever the tooltip reaches the right limit of the displayInset container.

[2020-06-19 07:11] gilshaan commented on #62
I have the same issue.

[2020-06-24 13:54] kuzzmi commented on #14
@cloudy-ninja you just need to overwrite the style properties of the tooltip (`tooltipStyle` prop):

[code]

[2020-06-29 00:14] AkitoshiMurase commented on #72
Has this problem been solved?
Facing the same problem.

[2020-06-29 11:53] jasongaare commented on #72
@AkitoshiMurase will you please open a new issue with more details describing your issue?

[2020-07-03 12:25] jordyortegaxg opened #87 "UNSAFE_componentWillReceiveProps"
This function:

[code]

needs a rewrite using `getDerivedStateFromProps` and `componentDidUpdate`.

Thanks in advance :)

[2020-07-03 14:52] jasongaare commented on #87
Good catch! PRs are always welcome :)

[2020-07-06 06:46] vujevits commented on #79
thanks @jasongaare , it did solve my issue!

[2020-07-06 06:46] #79 closed

[2020-07-07 18:16] bernhardt1 commented on #62
Yea, there seems to be an issue with any content nested inside of Scrollviews

[2020-07-14 08:58] serzmerz opened #89 "add testID prop for e2e testing"
please pass testID prop for e2e testing

[2020-07-14 13:46] jasongaare commented on #89
@serzmerz PRs are welcome! I'm sorry I do not have significant time to dedicate to this project right now

[2020-07-16 13:35] Abhishek-Sankey commented on #62
I totally agree with @bernhardt1. If I open the tooltip at one position, scroll the screen and open again the tooltip then it flickers at last opened position and then open at the current clicked position.

[2020-07-17 06:22] pravinlinge opened #90 "How to change arrow color?"
Using arrowStyle={{ backgroundColor: themeColor }} changes whole arrow box color, Just need to change arrow pointer color

[2020-07-18 01:57] jasongaare commented on #90
I haven't been able to test this yet, but looking at the source code I'm thinking if you change the `borderTopColor` that might change the arrow color.

[2020-07-21 05:26] Abhishek-Sankey commented on #78
I'm also facing the same issue. Any update on this?
Thanks!

[2020-07-24 19:30] #81 closed

[2020-07-24 19:35] jasongaare commented on #90
@pravinlinge any luck using that `borderTopColor` property?

[2020-08-03 17:38] francocastrom opened #92 "Can you create a TooltipChildrenContextStyle type props?"
to be able to customize the section of:
Example:

       <TooltipChildrenContext.Provider value = {{tooltipDuplicate: true}}>
         <View
           onTouchEnd = {onTouchEnd}
           pointerEvents = {this.props.allowChildInteraction? 'box-none': 'none'}
           style = {{
             position: 'absolute',
             height,
             width,
             top: and,
             left:

[2020-08-03 17:40] francocastrom commented on #92
So that it can be used in this way

<img width="861" alt="Screen Shot 2020-08-03 at 13 40 03" src="https://user-images.githubusercontent.com/11575081/89210882-e444ae00-d58e-11ea-829a-3246c40c5ccc.png">

[2020-08-06 14:35] jasongaare commented on #92
I suppose that's not a big deal - easy and unobtrusive to add. Curious, what's your use case?
Also I will try to get to this, but if you get a chance to open a PR yourself it may be quicker!

[2020-08-08 06:46] rdemo commented on #8
Having this issue, is there a solution?  It is preventing the child from positioning where it should.

[2020-08-16 05:10] vikjovanov opened #93 "Can't perform a React state update on an unmounted component"
I have this error, and the error tells me it's from Tooltip! My components can sometimes mount / unmount very quickly, however, I protect my state updates so that they only run if the component they are called from is mounted.

This is my code where the tooltip is defined:
[code]

This is a Pure Component.

And now, the error:

![Screenshot 2020-08-16 at 07 01 52](https://user-images.githubusercon

[2020-08-18 15:42] davidfant commented on #82
@danielfx90 did you end up solving this?

[2020-08-18 16:49] danielfx90 commented on #82
Not at a library level. We changed a bit our margins to make the tooltip fit and release the app update.

[2020-09-01 18:08] YagoSRP opened #94 "The closeOnContentInteraction prop doesn't work properly"
Tried to implement a Tooltip with a ScrollView inside the tooltip and use this prop to enable content interactions, but even passing false to this, when try to scroll the content touchable seems to propagate a touch event to the parent closing the tooltip

[2020-09-02 23:10] devinroche commented on #83
@EricWiener nope, ended up having to make our own tooltip.

[2020-09-03 00:24] EricWiener commented on #83
@devinroche got it. Thanks for getting back to me!

[2020-09-11 15:04] leoz2007 commented on #90
@pravinlinge I don't know why but it works only with RGBA or Hexa

`arrowStyle={{borderColor: 'rgba(26, 83, 92, 0.4)', borderRadius: 10}}`

[2020-09-25 17:49] misfits91 commented on #94
Could you fix it?

[2020-09-25 17:54] YagoSFL commented on #94
No, for now i romoved the ScrollView from content and changed the content to something smaller :/

[2020-10-06 17:05] yago-lagoasoft commented on #94
A workaround solution https://stackoverflow.com/a/49918614

[2020-10-06 17:09] YagoSFL commented on #94
A workaround solution https://stackoverflow.com/a/49918614

[2020-10-06 18:04] jasongaare commented on #90
Perhaps it has to do with the way the CSS renders the triangle shape? No matter, sounds like this issue is resolved for now!

[2020-10-06 18:04] #90 closed

[2020-10-16 13:19] karthikmandava7 commented on #83
@devinroche Can you help us making the same tooltip, We are also tried others's but nothing works. Can you help us with the same?

[2020-10-28 14:29] ofgowtham commented on #78
Still having this issue on 1.1.11. Any workaround would be appreciated, guys!

[2020-11-03 20:33] Yanfii opened #96 "Chaining tooltips together"
I am trying to create a walkthrough using the tooltips. I am doing this currently by using states along with the isVisible prop. However, this causes a screen flicker since the first tooltip will hide (removing the darker opacity background), before the second tool tip shows up. Is there any solution to this? Any help would be much appreciated. Thanks!

[2020-11-03 22:59] jasongaare commented on #96
Hmm this is interesting.

I will point out I have another library that helps chain them together here: https://github.com/jasongaare/react-native-walkthrough

I'm thinking there might still be that flicker though... most of my use cases have waited for user interaction between tooltips, but I understand where you are coming from!

The quickest solution would to not show that darker opacity backgro

[2020-11-12 12:55] wesdewitte opened #98 "Tooltip size doesn't update when content changes"
When the content of the tooltip changes it doesnt recalculate the tooltip sizes.
So if you put more text in it, it will push other stuff out of the view.

[2020-11-13 17:12] Yanfii commented on #96
Thanks for your help! The flicker still occurred with the chaining library, but I was able to have a hacky fix. I added my own dark background, and removed the backgroundColor of the tooltip. That creates my desired behaviour.

[2020-11-13 17:12] #96 closed

[2020-11-16 15:20] wesdewitte opened #100 "Using tooltip inside a side menu - wrong position"
When using the tooltip inside the side menu it shows up at the wrong position.

Using https://github.com/wix/react-native-navigation for the navigation.

Os: IOS

![IMG_20201116_161800](https://user-images.githubusercontent.com/3693012/99271982-8b401380-2827-11eb-85dc-232550ab1342.jpg)

[2020-11-17 01:47] matthewliuswims opened #101 "ToolTip incorrect position on navigation (with snack example): possible old bug?"
First off: I want to say this is a great library, and thank you for making this! 😄 I unfortunately have a bug (easy to demonstrate) that I've spent a good deal of time trying to solve.

# Problem/Background

snack: https://snack.expo.io/@matthewliuhello/tooltip-positioned-incorrectly-if-navigating-to-screen-with-it - I tired to make this e.g. succinct/small as possible

![Screen Shot 2020-11-16 at

[2020-11-18 08:36] taehuA commented on #100
same issue to me. on react native navigation showModal

[2020-11-18 21:01] Klescouar commented on #101
I have exactly the same behaviour. Any help ?

[2020-11-20 12:48] troZee commented on #75
Below code adds a shadow on android and iOS
[code]

[2020-11-24 10:26] obadiaspelembe commented on #101
Hi guys,
I had to add a backgroundColor on tooltip.js file on the lib files
![image](https://user-images.githubusercontent.com/52324498/100081870-2fd9db00-2e50-11eb-9848-689b70141744.png)

and i had this result
![image](https://user-images.githubusercontent.com/52324498/100081956-4b44e600-2e50-11eb-9906-1484c3a51adc.png)

i hope it can help

[2020-11-24 10:27] obadiaspelembe opened #102 "Highlight a complete view or component"
I would like to suggest the adding of the line **background: "#FFF"** on **_tooltip.js_** file to highlight a complete component without this line i didn't find the complete highligh effect if i pass a complex component as children
![image](https://user-images.githubusercontent.com/52324498/100080855-feacdb00-2e4e-11eb-82b3-ba18c2345bef.png)

Result before adding the line
![image](https://user-ima

[2020-11-25 13:20] v-anton commented on #8
Does anyone resolved this issue?

[2020-11-25 13:52] hudymvol commented on #93
@jasongaare Hello, thanks for this awesome package :)

It seems like the problem is still here and this code causes memory leak:

[code]

You can create a variable `mounted` and assign it to `false` on `componentWillUnmount` method and then check if the component is mounted this way:

if(mounted) {
  setTimeout(() => {
      this.measureChildRect();
  });
}

[2020-11-27 02:50] jasongaare commented on #102
Hi 👋🏼

I like you suggestion - would you mind opening a PR?

A couple thing here too,

1. Could you make this optional? Aka adding it as a boolean prop?
2. Will you please update the README as well with new information about it

[2020-11-27 02:54] jasongaare commented on #93
Hi 👋🏼

I'm not opposed to the `mounted` idea, if you don't mind making a PR, I'd love to get it in there!

[2020-11-29 13:34] obadiaspelembe commented on #102
Hi,
Yes i do.
And a noted that a possible solution was already added but i think is waiting for a approval. As you can see below, J**ustyna Sowinska** added a new prop **childrenWrapperStyle** that could be used as solution for this issue. Let me know if this is still in development ou test step so maybe i could use it or you will need me to implement specifically the prop wrapper Background Color

[2020-11-29 16:32] catodapice opened #103 "Interaction with the background and the tooltip"
It's possible to click the tooltip to open a modal and when click the background just close the tooltip? I'm trying to make both interactions but the onClose function detects the tooltip and the background as the same

[2020-12-01 18:55] nikola1970 commented on #101
Having the same problem.

[2020-12-02 04:23] matthewliuswims commented on #101
**solved**

I didn't see it in props docs, but after looking at the original issue more closely, i realized we can add the prop `useInteractionManager` and it'll work.

[code]

[2020-12-02 04:23] #101 closed

[2020-12-03 20:51] curt-tophatter commented on #83
I think this should be reopened, @devinroche. I am experiencing this as well.

[2020-12-17 10:30] Ayusch commented on #102
@obadiaspelembe
childrenWrapperStyle didn't work for me. This prop isn't present in the latest version 1.1.11

How did you solve it ?

[2020-12-17 11:59] ayusch-apps-curefit commented on #102
@jasongaare Can you please release the version with the prop `childrenWrapperStyle` added ?

[2020-12-22 06:50] taneba commented on #78
@jasongaare @gunn-fd
I'm not sure if my case is similar to those, but I resolved the same behavior by making Tooltip invisible while react-navigation is transitioning.

[2020-12-22 06:57] taneba commented on #82
In my case, setting isVisible false while react-navigation is transitioning solved the same behavior.

[2020-12-24 03:55] enigmablue opened #106 "Popover arrow position wrong"
Hi there's something weird with the popover position.

When coming in from a navigate , somehow the arrow position is wrong.
But when I'm working on the page directly, it seems to be fine.

Any idea?

![image](https://user-images.githubusercontent.com/35584085/103058977-b06e3180-45de-11eb-9b2d-298659a97da8.png)

[2020-12-29 09:04] Ashutosh-Tiwari commented on #106
1. Remove the placement - "center" if you have set
2. You need to play with the display insets to fix this. Example usage: displayInsets= `{ { top: 24, bottom: 24, left: 24, right: 24 } }` - Play with the left & right for your case.

[2021-01-13 10:23] aidan2129 commented on #106
Having the same issue i have a button using TouchableOpacity absolute positioned to the bottom left corner of the screen and when wrapped in the tooltip it always has the arrow misaligned to the right. Have tried every placement method and display inset just seems to change the padding around the content rather than the arrow position.

[2021-01-31 02:14] cenaHara commented on #77
hi @jasongaare  If every item I have a tooltip, then the show tooltip will hide the arrow, do you have any way to auto tooltip to determine the position of the show below or above?

[2021-02-09 08:11] YoniCosta opened #110 "Android tooltip in mapview not showing"
I am trying to use tool tip inside a mapview marker with out success.
I can see the background changing to a darker tone but with out the message above. (while it is working in ios)
(you can see the android on the left side vs the ios on the right)

![image](https://user-images.githubusercontent.com/51266135/107334068-f0ba3e00-6abe-11eb-96aa-9c805bcfb515.png)

 <MapView
                customMapSt

[2021-02-09 12:19] jasongaare commented on #75
@all9planets closing, as it appears @troZee has provided a solution. please open a new issue if you are still having trouble!

[2021-02-09 12:19] #75 closed

[2021-02-09 12:34] jasongaare commented on #100
Hi, I'm wondering if the `topAdjustment` prop would be of any use here? It appears this might be a unique situation with the native navigation library + using a side menu / modal

[2021-02-09 12:37] jasongaare commented on #87
This has been fixed!

[2021-02-09 12:37] #87 closed

[2021-02-09 12:39] jasongaare commented on #103
@catodapice can you clarify your question for me?

[2021-02-10 00:20] taehuA commented on #100
yes. i used top value of "tooltipStyle". but topAdjustment is also worked (but i have to caculate that value both)

[2021-02-11 11:09] msahajwani opened #113 "Can't perform a React state update on an unmounted component."
I'm using the Tooltip as follows:

[code]

The renderTT() function returns a view for the tooltip and also sets the state of showGuide to false - setShowGuide(false).

The problem happens when I navigate to another screen or previous screen. It shows a warning as follows pointing to this line in my screen:

`Warning: Can't perform a React state update on an unmounted component. This is a no-op, bu

[2021-02-16 04:45] #92 closed

[2021-02-16 04:49] #78 closed

[2021-02-16 04:49] #82 closed

[2021-02-24 06:32] jayshah123 commented on #103
how do we allow outside touches, without closing tooltip?

[2021-03-10 08:22] someAndroidDeveloper opened #115 "No RTL support"
Hi.
My app is on **ForceRTL** and the tooltip pops up on the opposite side of screen and also show a copy of my button there.
any solution for this?

[2021-03-11 16:18] jasongaare commented on #115
👋

hi could you provide screenshots and code reproduction please?

[2021-03-14 08:40] someAndroidDeveloper commented on #115
Yes here it is.
I made it a bit simplified...
[code]
and this is the result I get form the code:
![Screenshot_20210314-120059](https://user-images.githubusercontent.com/53018491/111062383-ac56ff00-84bd-11eb-9795-1cbb470c0cf8.jpg)

RN info:
react: 16.13.1 => 16.13.1
react-native: 0.63.3 => 0.63.3

Device info:
Samsung galaxy A51
Android 11

[2021-03-16 16:26] jasongaare commented on #115
Thanks for this!

I'm curious what version of this library you have, namely because I'm wondering if this PR that was merged recently would resolve this issue or not -- https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/114

Alternatively, if you added `alignItems: flex-start` to the SafeAreaView does that change anything at all? (Forgive my ignorance with RTL set up, but I'm assu

[2021-04-02 20:15] emilioheinz opened #116 "After misrender tooltip keeps flicking on screen"
I noticed that trying to render a tooltip with `bottom` placement when it hasn't enough space to be rendered will cause some strange behavior after closing and opening it again. It will start flickering, but only on the very first render after the "misrender".

https://user-images.githubusercontent.com/47385105/113450719-d1f96900-93d6-11eb-9787-e94bf280b278.mov

Any idea how to implement a placeme

[2021-04-02 20:16] emilioheinz commented on #116
@jasongaare I would be really proud if you could give some attention to this 😄

[2021-04-12 06:06] arpitBhalla opened #117 "Migration to hooks"
Currently this package is written as class component, I would like to know if I can work on it and convert it into functional component in typescript

[2021-04-12 06:09] arpitBhalla commented on #117
@jasongaare May I work on this Please 😃

[2021-04-19 19:46] daniellupascu opened #118 "positioning issue"
Seems like the tooltip will always render in the center of the screen. No matter where the target is positioned, the tooltip component will show the duplicated children in the center of the screen. In the image attached, the target has no positioning styling, just size, and background.

<img width="354" alt="Screenshot 2021-04-19 at 9 39 39 PM" src="https://user-images.githubusercontent.com/203558

[2021-04-22 05:23] divyaMoooFarm opened #119 "Custom header is not accessible"
I have created a view(custom header), wrap it under the ToolTip, and set the custom header on top of the tooltip screen but now I'm not able to press the tooltip header button.
<img width="472" alt="Screenshot 2021-04-22 at 10 35 46 AM" src="https://user-images.githubusercontent.com/79141371/115659755-a673f980-a358-11eb-9fd1-a5e9cab190dc.png">

[2021-04-25 13:00] noumantahir commented on #118
Facing exactly the same issue...

![Screenshot 2021-04-25 at 6 00 09 PM](https://user-images.githubusercontent.com/6298342/115994358-164fe180-a5f0-11eb-8021-0a2e08be4345.png)

[2021-04-26 02:14] #117 closed

[2021-05-05 09:59] cihannam commented on #118
Same issue

![Simulator Screen Shot - iPhone 11 - 2021-05-05 at 12 58 27](https://user-images.githubusercontent.com/25721930/117125041-bbfa1200-ada1-11eb-8fd6-62b362e10c26.png)

[2021-05-07 09:53] michalpleszczynski commented on #118
checkout the answer here: https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/101#issuecomment-736980874

adding `useInteractionManager={true}` might help

[2021-05-07 11:18] cihannam commented on #118
i added useInteractionManager={true} but nothing changed.
![photo](https://user-images.githubusercontent.com/25721930/117442184-1a102c00-af3f-11eb-8612-fa05a453ef55.png)

[2021-06-04 07:04] Manya-96 commented on #98
Hello everyone, i am also facing the same issue. can anyone tell me how to style it so that i can get height dynamically w.r.t to the content. Tried many ways but still not getting the consistent layout of the tooltip.

[2021-06-04 07:07] Manya-96 commented on #116
I am also facing the same issue. Are you able to solve it @emilioheinz

[2021-06-22 20:39] Sethbarrie commented on #93
Has there been any update on the mounted setstate making it into the code? I'm also running into this issue currently

[2021-06-25 05:40] mwerder commented on #118
Same issue here.
adding `useInteractionManager={true}` didn't help. Any other suggestions?

[2021-07-13 13:38] borasumer commented on #118
I am having the same issue, nobody is maintaining this library anymore?

[2021-07-13 14:26] jasongaare commented on #118
👋🏼 Hey unfortunately I do not currently have time to commit to this project, though it is on the back burner when my time clears up.

PRs are always welcome if someone knows a solution.

[2021-07-14 10:23] gitVera commented on #118
check prop showChildinTooltip  to false

[2021-07-17 18:08] JetPlaneJJ commented on #118
Hi @daniellupascu, may I ask how you were able to change the background color of the entire tooltip? Whenever I try doing that, the color only shows up in a smaller square inside the tooltip, not including the triangle. [This is my Snack example ](https://snack.expo.io/@jetplanejj/react-native-walkthrough-tooltip-example) attempting to change the background color.

[2021-07-20 07:15] jeffelector commented on #118
I Have the same probleam

[2021-07-21 08:34] ArekChr opened #121 "Children interaction not work"
Children interaction does not work. When pressing on input or action sheet, input focuses and vanishes immediately, the same with action sheet.

[2021-07-27 18:39] amin79 commented on #118
same problem here.

[2021-08-12 09:56] Manya-96 commented on #116
Any other solution you tried for this issue? @emilioheinz

[2021-08-14 10:00] mjangir commented on #113
This is happening because when the tooltip is trying to set its state to get itself hidden, the component is no longer available and is unmounted.

[2021-08-20 13:29] svbala99 commented on #103
How can we change the background of the tooltip ? The entire screen behind is greyed out. Tried backgroundColor prop as mentioned in doc, not effective

[2021-09-01 15:54] birdwell commented on #118
Same problem as well.

[2021-09-09 17:19] bigyank opened #122 "Is there a way to render component over the background"
I want to render a button above the background and have that button an onPress event independently, is there any way for this?

[2021-09-10 14:55] chungweileong94 opened #123 "Dimentions.removeEventListener(...) is deprecated in RN 0.65"
`Dimentions.removeEventListener(...)` is deprecated started from RN 0.65. https://reactnative.dev/docs/dimensions#removeeventlistener

I wanted to submit a PR for this, but it might break on older RN versions, and I don't have the experience to due with this kind of "cross-version"  deprecation for the RN package in general.

[2021-09-13 08:06] mpatafio commented on #123
Same issue, here, it causes tests to fail :(

[2021-09-13 08:08] chungweileong94 commented on #123
@mpatafio From the time being, I'm using patch-package to patch it.

[2021-09-13 08:10] mpatafio commented on #123
Could you please share it? thanks in advance

[2021-09-13 08:45] chungweileong94 commented on #123
@mpatafio No problem

`react-native-walkthrough-tooltip+1.2.0.patch`

[code]

[2021-09-25 09:57] bigyank opened #125 "How do I run this package locally?"
I tried cloning the repo and did yarn link and unlink but It didn't work, there must be some steps I am missing in between,
can someone helo me, please!

[2021-09-25 09:58] #122 closed

[2021-09-25 18:35] jzxchiang1 commented on #116
Bump. I also see flickering on Android (but not iOS).

[2021-09-28 05:05] jamesone commented on #121
Did you find a workaround for this? I am assuming the workaround will be to utilise a ref on the said input & focus into it manually?

[2021-09-28 12:05] Caliman-Nicolae commented on #118
The problem is in your styling, I had the same issue and fixed by changing some components dimensions/alignment. try to comment some styles.

[2021-10-05 13:21] fatoldsun00 opened #127 "childContentSpacing doesn't work"
Hi,

i try to stick content and arrow but childContentSpacing props doesn't change anything.

There is somthing wrong in my code ?

[code]

Thanks

[2021-10-06 14:59] tamir61 opened #128 "Tooltip have slide animation transition"
Hey, I'm using this component inside of Flatlist, so each item has a ToolTip component.
Sometimes for a really short period of time, the ToolTip component can be seen like it's being dragged from the bottom to the expected place.

Anyway to disable it?

[2021-10-06 20:48] Shihara-Dilshan opened #129 "Crashes on Android 5.0.0"
App is crashing when I use this on my Samsung galaxy note 3 which is running on android 5.0.0. Does this library support android 5.0.0??

[2021-10-07 14:59] tamir61 commented on #116
I also have the same issue, any solution?

[2021-10-15 01:24] markl-vesper opened #130 "Font size adjustment"
Is it possible to somehow reformat the content of the tooltip ie font size?

Just found an issue where if the user has an increased font size on phone and the tooltip is at top of screen then due to wrapping of the content some of it is displayed off screen.

I guess if we can pragmatically determine font size then we can adjust topAdjustment value as required

Font size increased
![image](https:/

[2021-11-09 04:47] zienna commented on #8
+1

[2021-11-26 09:32] DenisNikulenko opened #131 "Problem with tooltips that are in ScrollView"
Hi,

I have a lot of problems with the tooltip that is in the ScrollView, most of which I was able to solve, but 1 I still can't win.

I need to determine when the user did an over scroll and did not finish it (did not let go his finger) and the main problem is that I need to define this exactly in the tooltip component, so I have a lot of screens with tooltips that are in the ScrollView and there

[2021-12-05 06:56] Adam-AbJab commented on #115
I have exactly the same problem, is there any solution?

[2021-12-06 07:55] #131 closed

[2021-12-10 08:24] codal-mpawar opened #132 "iOS & Android: Keyboard dismiss if keyboard already open"
@jasongaare @enniel @chadwilken
The keyboard is already open: Keyboard automatically dismiss when we click on the icon.

Can anyone help me to resolve this issue?

[2021-12-19 17:51] Saikedo commented on #118
Had the same issue, for me, wrapping the Tooltip in a view and giving a alignSelf style of flex-start or center to the parent view fixed the issue.

[2021-12-19 18:52] Saikedo opened #133 "Using ToolTip to show some tips when TextInput is focused"
Has anyone tried showing ToolTip while textInput is focused?

I am implementing a password input component and would like to show a tooltip that shows what password requirements are fulfilled and what are the errors. Was wondering if anyone was able to successfully implement this functionality?

So far I was able to implement everything except the part where if I click on the textInput to change t

[2021-12-20 14:48] #133 closed

[2021-12-20 15:01] Saikedo opened #134 "Ref warning when using component for the content"
I am using the library for my React-Native-Web project and when I try to use a component for the content of the toolTip, the Chrome console throws an error when the ToolTip appears for the first time. For this code

[code]

It shows an error saying `Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`. `Check the render

[2021-12-20 15:20] Saikedo commented on #134
Wrapping the component in `React.forwardRef` also seems to fix the issue for some reason.

Basically change `ToolTipContent` to

[code]

So I guess another solution will be to do the following inside react-native-walkthrough-tooltip

Declare a function like this
`const GetContentAsForwardRef = React.forwardRef(() => this.props.content);`

And then replace this
[code]

with this
[code]

I can make

[2021-12-21 07:09] R4DIC4L commented on #94
@YagoSFL Thank you for this, works like a charm!

[2021-12-21 14:08] Arun-paramasivam commented on #8
I had this issue in Android(for iOS it didn't work at first, made a workaround). When I used TouchableOpacity from 'react-native-gesture-handler', it worked on both Android and iOS for me!

[2021-12-23 11:23] BZaldua opened #135 "Issue with visibility on iOS devices"
Hi!

I am having problems particularly with iOS devices and the isVisible prop. Setting it from the beginning to true, there are times when the tooltip is displayed correctly and other times it is not displayed.

The tooltip is not inside a Modal, and if isVisible is always true, I don't get why is not always displayed. Ironically, this only happens on iOS devices. On Android, everything seems to

[2021-12-23 12:23] erliskryeziu commented on #110
same here, did you find anything?

[2021-12-26 16:08] tonicprism opened #136 "Blur effect"
Hi, has some way to use a blur effect in the background instead the default background color?

[2021-12-28 10:36] wahyufaturrizky opened #137 "topAdjustment mirror component issue"
![image](https://user-images.githubusercontent.com/19926348/147557602-3f868b16-b278-4acc-bf32-b33aafadbf3a.png)

Got issue when put tooltip top on header,

the view of example code is here:
const heightStatusBar = StatusBar.currentHeight || 0;
<Tooltip
      topAdjustment={Platform.OS === 'android' ? -heightStatusBar : 0}>
      {props.children}
    </Tooltip>

[2021-12-30 13:26] Ashutosh-Tiwari commented on #116
Even after upgrading the plugin to the latest version i.e. 1.3.0, the issue still remains. Sadly, I am now looking for an alternative to this plugin.

[2021-12-30 16:40] gregfenton commented on #116
Does anyone have a simple project that reproduces this issues reliably?  Something where we could simply:

1. clone project
2. `npm install`
3. `npm start`

and see the issue?  If so, then we might as a community be able to narrow down the problem and solve it together.

This project is pure JS, so it isn't like we need to get into Objective-C and Kotlin.

[2022-01-09 05:24] Saikedo opened #138 "Child element does not fill parent height when using height: 100%"
It seems like the height attribute just gets ignored for the child of the toolTip if you use percentage height.

Let`s take a look at this example. Here the parent view has a height of 300 and I am setting the child component of the tooltip,
The view and the text inside, to havea height of 100%. What I expect here to happen is that the view that wraps the text will span the entire height of the pa

[2022-01-09 05:34] Saikedo commented on #138
Ah, I see the reason now. This is how react-native-walkthrough-tooltip renders the children element in the parent

[code]

Since this wraps children element in a view that does not stretch to fill the parent height of the tooltip, the children height of '100%' will only fill the 100% of this new view height.

It`s probably a good idea to add a way to control the style of this view externally right

[2022-01-09 20:11] gregfenton commented on #138
Quite possibly.  Do you want to do a PR for it?

[2022-01-09 20:18] Saikedo commented on #138
@gregfenton Sure, ill make a PR for that.

Just to make sure, we are just adding a way to pass styles to the original children wrapper correct? Since there is already a prop called `childrenWrapperStyle`, I think calling it `originalChildrenWrapperStyle` should be clear enough.

Also, are there any potential issues that I should be aware of? Just making sure adding styles to that view won`t mess u

[2022-01-09 21:11] gregfenton commented on #138
I think I'd consider calling it `parentWrapperStyle` given where it is going, and the fact that currently it is an empty value.

The above <View> would have `style={[this.props.parentWrapperStyle]}` ?  If not provided, should not affect the styles at all?

[2022-01-09 21:32] Saikedo commented on #138
@gregfenton That's correct, empty by default so if  `parentWrapperStyle` is undefined, then everything will stay the same.

[2022-01-09 21:52] Saikedo commented on #138
@gregfenton Just opened a PR.

Did some quick tests, did not notice any alterations to the original behavior if nothing is passed.
And of course, now we are able to style the wrapper.

Quick question, should I also make a PR for #134 while I have the project open? Do you agree with the proposed solution there?

[2022-01-09 22:35] gregfenton commented on #134
Seems like a reasonable approach, but I have not played with react-native-web enough to be sure.

[2022-01-10 05:17] Saikedo opened #140 "Any way to check if the ToolTip is being shown?"

[2022-01-10 05:36] #140 closed

[2022-01-11 13:56] Saikedo commented on #134
@gregfenton I realized that this is not really specific to React Native Web actually. Also it seems like the correct way to fix this would be to do the `const ToolTipContent = React.forwardRef...` solution instead of what I proposed originaly.

[2022-01-13 01:51] FelipeLimaDeSouza opened #141 "Warn EventEmitter in react native version +0.65"
In react native version +0.65 has EventEmitter warn

`EventEmitter.removeListener('didUpdateDimensions', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.`

I'm using react-native-walkthrough-tooltip version 1.3.0

[2022-01-17 02:26] ShaunLWM commented on #141
Fix pushed but not uploaded to npmjs
https://github.com/jasongaare/react-native-walkthrough-tooltip/commit/7b6a05ec0b13eaf1d6b1eea2b36655a84ee42145

[2022-02-02 20:41] JuanAlejandro commented on #123
Hello,

Is this planned to be in a release anytime soon?

[2022-02-03 09:40] dimadeveatii commented on #135
Same issue on iOS.

[2022-02-03 09:55] dimadeveatii commented on #135
Another workaround, perhaps a better one, is to set `useInteractionManager={true}`.

[2022-02-03 15:53] chungweileong94 commented on #123
I'm don't think the PR fixed the issue, as the fix was checking the `removeEventLIstener` before calling it, which's not going to fix the warning, as `removeEventLIstener` is still valid in RN 0.65+. However, I just submitted a PR for a proper fix.

[2022-02-09 10:53] tatiana-lonestone commented on #141
I added this commit in my project with :

[code]

But I still have the warning on react-native 0.66.4

[2022-02-10 10:41] SandroHorvat commented on #118
same here

[2022-02-16 16:52] sggonzalezg opened #143 "Content is highligted"
The content is highligted, how can avoid that?

<img width="146" alt="Captura de Pantalla 2022-02-16 a la(s) 13 51 04" src="https://user-images.githubusercontent.com/5217655/154315235-755be32c-0cd7-42f2-b5a5-51982a089d81.png">

[2022-02-20 05:57] oregev commented on #116
Any news on this?
Have the same problem on iPhone 11 only running IOS 13.
**setup**:
RN - 0.66.4
react-native-walkthrough-tooltip - 1.3.0

https://user-images.githubusercontent.com/60711866/154830546-42ce634c-cfc5-460c-aa2f-25258f42ed78.mov

[2022-02-23 22:33] apfritts commented on #118
@Saikedo do you know why that solution works? I have a pretty plain view and needed to add the `alignSelf` tag to the view containing the Tooltip to get it positioned properly. Without `alignSelf`, it just centered in the screen. I'm evaluating this library to use (it looks like the best so far...) but I want to understand how much TLC I'll need to do to use it.

For simplicity, here is a abridged

[2022-02-25 06:03] FairyWorld commented on #101
I use the code below, the position is correct but the mask doesn't cover the status bar
[code]

[2022-03-03 11:12] maxime-memtell commented on #123
@chungweileong94 I am currently running RN 0.67.3 and your latest solution with the if to detect RN version doesn't seem to work as I seem to end up in the wrong case scenario. To be honest I do not feel like taking the time to test further as of now (and I apologise to anyone reading this) so I appreciate my "bug report" is quite light over here.

I'm going to stick with your initial solution, us

[2022-03-04 08:03] ngodanghuuha opened #144 "show multi tooltip"
Hello
I want to show multi tooltip, but only show one,  and tooltip always show, how to to that
this is my code
[code]
thanks

[2022-03-06 13:20] BZaldua commented on #135
Yeah, I'd rather use the second approach to be honest. Anyway, haven't tried yet.
To this day, I have not found anything to make it work. I actually had to remove the whole tutorial to avoid the issue so I might give it another go with @dimadeveatii suggestion, thanks!

If I find anything to make it work, I'll update the issue

[2022-03-09 18:34] BZaldua commented on #135
Just gave up with the library and decided to implement the tutorial in a whole new way. I don't know if the solutions mentioned work but I think the package might need some review. Thankful for the existing work though.

Gonna leave the issue open to see if we get any updates

[2022-03-09 19:35] Saikedo commented on #138
Hi, I have a [Pull Request](https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/139) with these fixes and was wondering if there is any ETA for merging this in. I am stuck using a local version of the library because we really needed this change for our project wanted to see if I can help with anything to hasten the merge.

Thank you.

[2022-03-21 15:19] #123 closed

[2022-03-22 03:59] chungweileong94 commented on #141
@FelipeLimaDeSouza @tatiana-lonestone Can you verify if the latest [v1.3.1](https://github.com/jasongaare/react-native-walkthrough-tooltip/releases/tag/v1.3.1) fixed the warning?

[2022-03-23 14:14] Pakile commented on #116
the same issue, any solutions for this @oregev ?

[2022-03-30 12:42] tatiana-lonestone commented on #141
Perfect with this version, thanks for the merge!

[2022-03-31 23:51] zjkuang commented on #113
The same issue happens in our app as well. (We are now at `1.3.1`.) I checked the tooltip.js file in the package and found that although PR #105 was not merged, but its change was actually applied. So the conclusion is, PR #105 didn't fix this issue.

[2022-04-06 19:45] apfritts opened #147 "Cannot place <Tooltip> inside of a <Text> element"
Just spent my morning wasted on this lovely little gem so I figured I'd just let everyone else know what I found!

## Use case
We have a string of text and we want our user's to tap on a word in the middle of the string. We don't want to highlight the entire text block (which can be large), and only want them to tap on a single word.

## Problem
If you use the `<Tooltip>` in the middle of the stri

[2022-04-06 19:46] #147 closed

[2022-04-13 17:05] darkerthanblackoff opened #148 "childrenProps property"
Sometimes it becomes necessary to change the appearance of child components when they are rendered on top of the overlay. For example, I wrapped an icon with black text in a tooltip, the text will be hard to see because of the overlay and I need the ability to change it to white only when the tooltip is visible. Can you add something like childrenProps property? Also it will be grate if it will wo

[2022-04-19 12:04] shikhars371 opened #150 "Tooltip image appearing two times when opening tooltip"
HI please help me, i am using this library to have a popup tool tip meny , i am using touchable opacity and the image tag in which i am using image, when i am clicking the image tooltip is appearing but the image which is clicked appearing two times one in background other above it.

here is my code
<Tooltip

                    isVisible={visible}
                    content={<View style={{ width

[2022-04-19 12:34] #150 closed

[2022-04-19 12:34] shikhars371 commented on #150
my mistake

[2022-04-24 12:16] #135 closed

[2022-04-25 16:01] dansimau opened #152 "Content cut off in tooltip"
I am trying to build a simple tooltip:

[code]

Snippet from my component:
[code]

The result is:

<img width="313" alt="Screenshot 2022-04-25 at 17 01 09" src="https://user-images.githubusercontent.com/203031/165127716-46202bb5-864c-4019-a7fe-8babeb7a682e.png">

Am I missing something?

[2022-05-04 05:30] jdbbdj commented on #62
Encountering the same issue on my end where the setup is on contained in Text followed by Typography where the Tooltip is inside of the View then Followed by the another Typography

<Text>
<Typography/>
<View>
<Tooltip>
<Text>
</Text>
</Tooltip>
</View>
<Typography/>
</Text>

On this setup the positioning of the tooltip is misplaced on the initial position and when you scrolled the screen. Then I

[2022-05-05 15:02] apfritts commented on #152
@dansimau did you find a solution to this? Or figure out what was causing it? We're QA'ing our app now and it's happening to our production builds but wasn't happening in dev builds :sob:

[2022-05-05 15:25] apfritts commented on #94
@YagoSFL, for clarification, is the scrollview in the child of the tooltip or in the content of the tooltip?

[2022-05-05 18:56] apfritts commented on #152
I ended up fixing this by adding `{flex: 1, flexGrow: 1}` to the text style.

[2022-05-14 01:34] medonagy45 commented on #118
try
        `displayInsets={{top: 0, bottom: 0, left: 0, right: 0}}`

[2022-05-26 08:29] chamekh2u opened #155 "Clone is smaller than wrapped component"
Hi,
this library is very useful but I'm facing a problem. I don't understand why the clone component is smaller than the wrapped component :

<img width="289" alt="image" src="https://user-images.githubusercontent.com/37139082/170449489-8821bdbe-2306-442a-b7ff-3aea1c6238a8.png">

How can I fix this ?

[2022-05-26 18:19] programminPete commented on #118
I had similar problem only on initial load - would be fixed on each next tooltip, so I think it is only a placement issue on initial layout.. I was able to fix by setting the tooltip to be false initially, and then to be visible after a mounting useEffect (if the user hasn't seen it already).
Hope that helps :)

Ex:

`  const checkTooltip = async () => {
    const hasHadAppWalkthrough = await Asyn

[2022-05-27 12:11] tarun-showday commented on #150
@shikhars371 How you resolved it? I am also facing the same issue in Android

[2022-06-14 12:49] CyxouD commented on #118
@programminPete for me, it doesn't work. However, I think you found the issue correctly, because it works if I show tooltip with delay in seconds, though it makes this approach unreliable (even 3 seconds timeout is not reliable for me in dev environment):
[code]

I use `react-native 0.63.4`

[2022-06-14 16:09] CyxouD commented on #137
Probably it is related to https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/118

[2022-06-14 16:09] CyxouD commented on #155
Probably it is related to https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/118

[2022-06-15 10:43] CyxouD commented on #129
I didn't reproduce it in Android 5.1, react-native version is 0.63.4, library version is 1.3.1. Probably I need to test it exactly on Android 5.0.0

[2022-06-15 10:47] CyxouD commented on #62
Probably related to https://github.com/jasongaare/react-native-walkthrough-tooltip/issues/118

[2022-06-21 19:41] sangonzal opened #156 "Can't interact with Pressable in content."
I'd like to navigate from one tooltip to another when the user clicks on a button inside the tooltip. I've added a `Pressable` to the component that gets passed into `content=`, but the `onPress` for that `Pressable` never gets triggered when I click on it. Instead, I get the following warning message every time I click on the component:

[code]

I tried to explicitly set allowChildInteraction={tr

[2022-06-22 20:40] wl4dig3 commented on #106
<img width="376" alt="Captura de Pantalla 2022-06-22 a la(s) 09 20 23" src="https://user-images.githubusercontent.com/64180985/175131762-4d10d674-2d6b-491a-be1b-8e859b373a69.png">
Hi, this issue only appear in ios device. iOS emulador works fine. I'll appreciate your help if can give any clue about it

[2022-06-22 22:53] anti-duhring commented on #144
In Android this also doesn't work. I tried to set `useReactNativeModal` to `false` but the tooltip no longer appears.

The solution that I found is set the `backgroundColor` to `transparent`

[2022-06-22 23:27] anti-duhring opened #157 "Showing tooltip changes the navigation bar color"
I'm using the [react-native-navigation-bar-color](https://github.com/thebylito/react-native-navigation-bar-color) package to change the navigation bar color, but when I show the tooltip the navigation bar returns his color to the default color.

Before:
![image](https://user-images.githubusercontent.com/99638905/175173478-c009a0ba-5808-42ce-81cb-df0d63c637e1.png)

After:
![image](https://user-imag

[2022-06-23 04:56] anti-duhring commented on #157
Update:

Solve it by setting the FullscreenDialog style inside `android/app/src/main/res/values/style.xml`:

[code]

![image](https://user-images.githubusercontent.com/99638905/175214922-4ec24375-fa4d-4e6e-a82d-e4b6e2d8301e.png)

[2022-06-23 04:56] #157 closed

[2022-06-23 12:59] jerryk1925 opened #158 "React v17"
Hi, can you upgrade peerDep  to 17 version React plz

[2022-06-23 16:57] anti-duhring commented on #156
You must provide `onClose` prop. I tested this code and worked, the `onPress` trigged as well:

[code]

[2022-06-28 16:05] SharpMobileCode commented on #158
Same for me.  This is a great tool, but it's downgrading my version of React from v17 to v16.

[2022-06-29 08:02] jerryk1925 commented on #158
Hi, in your package.json file you have
[code]
And i can't update react in my project because i have problem with different version in my version react and types of react with peerDep your package
Can you update  this package to react 17 version or change peerDep for example
[code]

[2022-06-30 15:19] jasongaare commented on #158
solved by https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/146#pullrequestreview-1025062787

[2022-06-30 15:19] #158 closed

[2022-07-01 23:24] bmitioglov commented on #113
happening to me as well

[2022-07-05 15:35] Dassine commented on #116
Same issue, Any solution?

[2022-07-05 18:07] sangonzal commented on #156
@anti-duhring Thanks, you are right, just needed to pass onClose prop, even though it's not being used for anything.

[2022-07-05 18:07] #156 closed

[2022-07-14 13:36] wl4dig3 commented on #62
May be any animation is used in your component ? if so, try to add a setTimeOut to avoid the issue of misplacement.

[2022-07-14 13:37] wl4dig3 commented on #62
May be any animation is used in your component ? if so, try to add a setTimeOut to avoid the issue of misplacement.

[2022-07-15 23:17] topherPedersen commented on #152
I ran into this issue today as well. I think the issue might have something to do with <Text> components? I tried removing the text component, and replaced it with a red square and things started working again.

[2022-07-16 08:47] ErezBiren opened #159 "Is there a way to set the color of the tooltip itself (not the background)?"

[2022-07-16 13:26] #159 closed

[2022-07-16 13:26] ErezBiren commented on #159
there is, using contentStyle

[2022-07-22 01:44] topherPedersen commented on #118
Jason, I'm interested in learning how to contribute to this library. I was just wondering, could you or any of the other contributors share on how to go about forking this library, and then integrating our fork into a playground app for testing? There are some issues we're running into at work that I need to fix related to our Tooltips, so I would like to be come a contributor to submit a patch an

[2022-07-22 19:28] topherPedersen commented on #118
I've submitted a pull request with a fix for this issue here: https://github.com/jasongaare/react-native-walkthrough-tooltip/pull/162

My pull request adds a new prop, horizontalAdjustment, similar to the existing topAdjustment prop, which allows horizontal adjustment of the highlighted child view should the library get the alignment wrong. I ran into the same issue described here yesterday, a hor

[2022-07-25 11:25] Daavidaviid commented on #118
I found that giving a width to the component we want highlighted, like `width: 100%` is working. But that's not a good solution for every use cases

[2022-07-25 20:46] topherPedersen commented on #125
@bigyank, I had a similar issue which I resolved the other day. What you want to do is fork the repo here on GitHub. Then in your package.json, add react-native-walkthrough-tooltip and replace the version number with a reference to your github link. the line in your package.json will look like:

`"react-native-walkthrough-tooltip": "git+https://git@github.com/yourUserName/react-native-walkthrough-

[2022-08-04 19:03] heedoo commented on #113
same here.

[2022-08-08 13:12] Gaphell opened #163 "Android status bar not translucent"
The React-native modal used is not fullscreen in android.

I checked the code and the fix is simple. Just need to add `statusBarTranslucent`  in `ModalComponent`

Can this be fixed please?

<img width="523" alt="image" src="https://user-images.githubusercontent.com/51020543/183426109-4d40ffd1-9e00-41f6-bb7d-3b5ff67fc429.png">

Issue Below:

![Screenshot_1659964159](https://user-images.githubuserco

[2022-08-08 13:21] #163 closed

[2022-08-24 06:37] arjuntare opened #164 "Android only - Tooltip rendered twice, with the overlapping tooltip rendered at the wrong position"
I am trying to display a tooltip on an item in a horizontally scrollable Carousel (react-native-snap-carousel), which is inside a vertical FlatList. I make sure to scroll the FlatList item into view before setting the tooltip visibility.

The issue is that there are two tooltips displayed, one as expected and one at the bottom of the screen, which overlaps the correct tooltip.

This is an Android

[2022-08-25 15:05] de-jure commented on #136
backgroundColor prop
`<Tooltip
  backgroundColor="rgba(0,0,0,0)"`

[2022-08-27 08:38] schlafnie commented on #164
have you tried setting showChildInTooltip to false?

[2022-08-30 10:21] richardkuiper commented on #164
Amazing! I was having the same issue and this resolved it. Thank you @schlafnie

[2022-08-30 10:34] arjuntare commented on #164
Thank you for the suggestion, but that will not highlight the tooltip then, right?

[2022-09-09 17:55] tailorem commented on #116
The issue my team was seeing is slightly different than the above, but the below patch seems to be doing the trick for us. Perhaps something similar would help someone else. :)

[code]

Possibly related but didn't investigate too far: https://github.com/facebook/react-native/issues/31876

[2022-09-13 15:55] HamdyOmran commented on #115
I forked the library and adjusted _styles.js_ file to handle rtl, here's the link for my fork: https://github.com/HamdyOmran/react-native-walkthrough-tooltip/blob/master/src/styles.js

[2022-10-09 01:07] #128 closed

[2022-10-11 10:49] hamam99 commented on #164
have the same issue too

[2022-10-11 10:56] hamam99 commented on #164
Try to add this code in component Tooltip
` topAdjustment={Platform.OS === 'android' ? -StatusBar.currentHeight : 0}`

[2022-10-13 08:05] nbdaaron opened #165 "React 18 Support"
Can this library add support for React 18? Thanks!

[2022-10-17 21:42] Qwin opened #166 "Patch for ChildrenWithProps"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-walkthrough-tooltip@1.4.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]
      */
-  class Tooltip extends React.Component<TooltipProps> {}
+  class Tooltip extends React.Component<PropsWithChildren<TooltipProps>> {

[2022-10-27 10:05] wonecode commented on #166
Hi, it looks not working to me using patch-package, i got the following error from running patch-package command, have you an idea to solve it ?

[code]

[2022-10-28 07:58] romeshyadav007 opened #168 "Unable to close the Tootip in 'background' and 'inactive' state"
Tooltip is working fine in the active state, but we need to close the tooltip when the app enters Background or Inactive state. We applied the appstate listener in RN and tried to toggle 'isVisible' prop of the tooltip.
It results in the following error on iOS:-

Presenting view controller
<RCTModalHostViewController: 0x13a421820> from detached
view controller <RNSScreen: 0x1311a22b0> is discourag

[2022-11-16 21:26] dcsan commented on #165
would this be as simple as bumping the react dependency? or is there an incompatibility?

https://github.com/jasongaare/react-native-walkthrough-tooltip/blob/master/package.json#L40

[2022-11-24 06:38] Fdelow commented on #132
Hi, I have encountered the same issue, have you found a solution to this?

[2022-11-26 03:09] kaushalpandey1510 commented on #123
TypeError: _reactNative.Dimensions.removeEventListener is not a function. (In '_reactNative.Dimensions.removeEventListener('change', this.handleOrientationChange)', '_reactNative.Dimensions.removeEventListener' is undefined)

This error is located at:
    in withDimensions(undefined) (created by TabNavigationView)
    in RCTView (created by View)
    in View (created by TabNavigationView)
    in T

[2022-11-26 16:16] chungweileong94 commented on #123
@kaushalpandey1510 Sorry that I have to say that, but it doesn't seem like you are using `react-native-walkthrough-tooltip` in your [repo](https://github.com/kaushalpandey1510/trek-tracker-app), and the problem is actually caused by `react-navigation-tabs` instead. From what I know it's already deprecated & no longer works with the recent RN version. For further questions, you might want to head t

[2022-11-26 22:58] kaushalpandey1510 commented on #123
Thank you Chung,

I am fairly new to this and a bit stuck on the implementation. Is there any
chance you can help me with the implementation and how can I use that with
my code?

Thank you and have a good one!

On Sat, 26 Nov 2022 at 11:16, Chung Wei Leong ***@***.***>
wrote:

--
Sincerely,
*Kaushal Pandey*